<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'companies'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Companies</span></h2></div>
  <div class="body grey-area">
    <hr />
    <hr />
  </div>
</div>