<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'companies'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Companies</span></h2></div>
  <div class="body grey-area">
    <ul>
      <li>
        <button>edit</button>
        <h3>Influitive Corp.</h3>
      </li>
      <li>
        <button>edit</button>
        <h3>Xactly</h3>
      </li>
      <li>
        <button>edit</button>
        <h3>Ektron</h3>
      </li>
    </ul>
  </div>
</div>