<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav nav-pills pull-left">
      <li class="dropdown" id="context-switcher">
        <a class="dropdown-toggle brand" data-toggle="dropdown" href="#context-switcher">
          Admin
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/advocate">Advocate View</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
    </ul>

    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Add <b>+</b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Advocate</a></li>
          <li><a href="#">Challenge</a></li>
          <li><a href="#">Group</a></li>
          <li><a href="#">Reward</a></li>
        </ul>
      </li>

      <li class="divider-vertical"></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Influitive Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Edit Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
    </ul>

    <ul class="container nav" style="float:none;margin:auto;width:700px;">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">Advocates</a></li>
      <li><a href="#">Challenges</a></li>
    </ul>

  </div>
</div>