<nav id="secondary" class="<%= klass %>">
  <ul>
    <li class="companies"><a href="/admin">Companies</a></li>
    <li class="email"><a href="/email">Mail Settings</a>
      <ul>
        <li class="config"><a href="/email">Configuration</a></li>
        <li class="templates"><a href="/templates">Templates</a></li>
      </ul>
    </li>
    <li class="whitelabel"><a href="/whitelabel">Whitelabel</a></li>
  </ul>
</nav>