<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav nav-pills pull-left">
      <li class="dropdown" id="context-switcher">
        <a class="dropdown-toggle brand" data-toggle="dropdown" href="#context-switcher">
          Advocate
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/admin">Admin View</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>