<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'email'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Mail Settings</span><span>Configuration</span></h2></div>
  <div class="body grey-area">
    <table>
      <tr>
        <th>Thank-you Email:</th>
        <td class="data">
          <p>When enabled, thank you emails will be sent on completion of an advocates first challenge.</p>
          <p><input type="checkbox" name="thankyou" id="thankyou" /><label for="thankyou">Send Thank-you Email</label></p>
        </td>
        <td class="rightcol"></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Follow up Email:</th>
        <td class="data">
          <p>Follow-up emails help more advocates join by sending reminders if they didn't respond to your first invitation email.</p>
          <p><input type="checkbox" name="followup" id="followup" /><label for="followup">Send Follow up Email</label></p>
        </td>
        <td class="rightcol"></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Digest Email:</th>
        <td class="data">
          <p>Digest emails are sent at regular intervals (specified below) to all your advocates who have opted-in and includes any new challenges visible to the advocate, information about their current points, level and badges. It also highlights some rewards that the advocate has enough points to redeem.</p>
          <p><input type="checkbox" name="digest" id="digest" onChange="javascript:$('select').attr('disabled', this.value !== 'on');"/><label for="digest">Send Digest Email</label></p>
        </td>
        <td class="rightcol"></td>
      </tr>
      <tr>
        <th>Digest Frequency:</th>
        <td class="data">
          <select disabled="disabled"><option value="1">Daily</option><option value="2">Weekly</option><option value="3">Monthly</option></select>
          <select disabled="disabled"><option value="1">First day of Month</option><option value="2">First Week of Month</option><option value="3">Second Week of Month</option></select>
        </td>
        <td class="rightcol"></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <td></td>
        <td class="data"><button type="submit">Save Changes</button></td>
      </tr>
    </table>
  </div>
</div>