<!DOCTYPE html>
<html lang="en" id="spike">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body>
  <div id="header"></div>
  <div id="body" class="cf">
    <%= yield %>
  </div>
</body>
<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
<script src="/javascripts/jhtmlarea.js"></script>
<script src="/javascripts/admin.js"></script>
</html>