<!DOCTYPE html>
<html lang="en" id="spike">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body>
  <%= yield %>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/admin.js"></script>
</html>