<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'templates'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Mail Settings</span><span>Templates</span></h2></div>
  <div class="body grey-area">
    <table>
      <tr>
        <th>Invitation Email:</th>
        <td class="data">
          <p>The first email an advocate will receive, inviting them into the system</p>
        </td>
        <td class="rightcol"><button rel="#overlay">edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Thank-you Email:</th>
        <td class="data">
          <p>When enabled, thank you emails will be sent on completion of an advocates first challenge.</p>
        </td>
        <td class="rightcol"><button rel="#overlay">edit</button></td>
      </tr>
      <tr>
        <th>Follow up Email:</th>
        <td class="data">
          <p>Follow-up emails help more advocates join by sending reminders if they didn't respond to your first invitation email.</p>
        </td>
        <td class="rightcol"><button rel="#overlay">edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Digest Email:</th>
        <td class="data">
          <p>Digest emails are sent at regular intervals (specified below) to all your advocates.</p>
        </td>
        <td class="rightcol"><button rel="#overlay">edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
    </table>
  </div>
</div>

<div id="overlay">
  <ul class="tabs cf">
    <li><a href="#">Edit</a></li>
    <li><a href="#">Preview</a></li>
  </ul>
  
  <div class="panes">
  	<div>
  	  <textarea class="wysiwyg"><h2>Welcome Brad!</h2><div>We'd like to offer you the opportunity to participate in an online community of advocates.</div><div><br></div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></textarea>
  	</div>
  	<div><h2>Welcome Brad!</h2><div>We'd like to offer you the opportunity to participate in an online community of advocates.</div><div><br></div><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div></div>
  </div>
  
  <div class="actions">
    <button class="close">Save</button>
    <button>Test Email</button>
    <a href="#" class="close">Cancel</a>
  </div>
</div>