<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'templates'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Mail Settings</span><span>Templates</span></h2></div>
  <div class="body grey-area">
    <table>
      <tr>
        <th>Invitation Email:</th>
        <td class="data">
          <p>The first email an advocate will receive, inviting them into the system</p>
        </td>
        <td class="rightcol"><button>edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Thank-you Email:</th>
        <td class="data">
          <p>When enabled, thank you emails will be sent on completion of an advocates first challenge.</p>
        </td>
        <td class="rightcol"><button>edit</button></td>
      </tr>
      <tr>
        <th>Follow up Email:</th>
        <td class="data">
          <p>Follow-up emails help more advocates join by sending reminders if they didn't respond to your first invitation email.</p>
        </td>
        <td class="rightcol"><button>edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Digest Email:</th>
        <td class="data">
          <p>Digest emails are sent at regular intervals (specified below) to all your advocates.</p>
        </td>
        <td class="rightcol"><button>edit</button></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <td></td>
        <td class="data"><button type="submit">Save Changes</button></td>
      </tr>
    </table>
  </div>
</div>