<div id="sidebar">
  <%= erb :admin_nav, :locals => {:klass => 'whitelabel'} %>
</div>

<div id="main">
  <div class="head"><h2><span>Admin</span><span>Whitelabel</span></h2></div>
  <div class="body grey-area">
    <table>
      <tr>
        <th>Company Name:</th>
        <td class="data"><input type="text" value="Influitive Corp." /></td>
        <td class="rightcol"></td>
      </tr>
      <tr>
        <th>Community Name:</th>
        <td class="data"><input type="text" value="Uncle Jim's Crawdad Shack 2" /></td>
        <td class="rightcol"></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <th>Sign in Message:</th>
        <td class="data"><textarea></textarea></td>
        <td class="rightcol"></td>
      </tr>
      <tr>
        <th>Sign up Message:</th>
        <td class="data"><textarea>Hey dudes, sign up for our kickass program</textarea></td>
        <td class="rightcol"></td>
      </tr>
      <tr><td colspan='3'><hr /></td></tr>
      <tr>
        <td></td>
        <td class="data"><button type="submit">Save Changes</button></td>
      </tr>
    </table>
  </div>
</div>